packages: [
  "atom-ternjs"
  "busy-signal"
  "fix-indent-on-paste"
  "intentions"
  "language-terraform"
  "linter"
  "linter-jsonlint"
  "linter-ui-default"
  "package-sync"
  "pretty-json"
  "px-to-rem"
  "Sublime-Style-Column-Selection"
]
