<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CalSuccessfulLaunchTimestampPreferenceKey</key>
	<real>404061632</real>
	<key>NSWindow Frame PomodoroNameWindow</key>
	<string>111 274 426 141 0 0 1280 777 </string>
	<key>NSWindow Frame PomodoroPrefsWindow</key>
	<string>200 259 664 513 0 0 1280 777 </string>
	<key>NSWindow Frame PomodoroScripting</key>
	<string>146 78 562 544 0 0 1280 777 </string>
	<key>askBeforeStart</key>
	<false/>
	<key>dailyExternalInterruptions</key>
	<integer>0</integer>
	<key>dailyInternalInterruptions</key>
	<integer>0</integer>
	<key>dailyPomodoroDone</key>
	<integer>1</integer>
	<key>dailyPomodoroReset</key>
	<integer>0</integer>
	<key>dailyPomodoroResumed</key>
	<integer>0</integer>
	<key>dailyPomodoroStarted</key>
	<integer>2</integer>
	<key>dailyStartDate</key>
	<date>2016-04-19T05:18:56Z</date>
	<key>globalExternalInterruptions</key>
	<integer>1</integer>
	<key>globalInternalInterruptions</key>
	<integer>2</integer>
	<key>globalPomodoroDone</key>
	<integer>547</integer>
	<key>globalPomodoroReset</key>
	<integer>11</integer>
	<key>globalPomodoroStarted</key>
	<integer>559</integer>
	<key>globalStartDate</key>
	<date>2013-06-20T17:04:27Z</date>
	<key>growlAtBreakFinishedEnabled</key>
	<false/>
	<key>growlAtEndEnabled</key>
	<false/>
	<key>growlAtInterruptEnabled</key>
	<false/>
	<key>growlAtInterruptOverEnabled</key>
	<false/>
	<key>growlAtResetEnabled</key>
	<false/>
	<key>growlAtResumeEnabled</key>
	<false/>
	<key>growlAtStartEnabled</key>
	<false/>
	<key>internalInterruptCode</key>
	<integer>30</integer>
	<key>internalInterruptFlags</key>
	<integer>1835008</integer>
	<key>interruptCode</key>
	<integer>123</integer>
	<key>interruptFlags</key>
	<integer>10223616</integer>
	<key>muteCode</key>
	<integer>29</integer>
	<key>muteFlags</key>
	<integer>1835008</integer>
	<key>pomodoroName</key>
	<string>Bank Transfers API stories</string>
	<key>quickStatsCode</key>
	<integer>44</integer>
	<key>quickStatsFlags</key>
	<integer>10223616</integer>
	<key>resetCode</key>
	<integer>125</integer>
	<key>resetFlags</key>
	<integer>10223616</integer>
	<key>resumeCode</key>
	<integer>124</integer>
	<key>resumeFlags</key>
	<integer>10223616</integer>
	<key>ringBreakVolume</key>
	<real>60.116092289719639</real>
	<key>ringVolume</key>
	<real>84.327540887850475</real>
	<key>scriptAtBreakFinishedEnabled</key>
	<true/>
	<key>scriptAtEndEnabled</key>
	<true/>
	<key>scriptAtInterruptEnabled</key>
	<true/>
	<key>scriptAtInterruptOverEnabled</key>
	<true/>
	<key>scriptAtResetEnabled</key>
	<true/>
	<key>scriptAtResumeEnabled</key>
	<true/>
	<key>scriptAtStartEnabled</key>
	<true/>
	<key>scriptBreakFinished</key>
	<data>
	e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29jb2FydGYxNDA0XGNvY29hc3VicnRmNDYw
	CntcZm9udHRibFxmMFxmbmlsXGZjaGFyc2V0MCBNZW5sby1SZWd1bGFyO30Ke1xjb2xv
	cnRibDtccmVkMjU1XGdyZWVuMjU1XGJsdWUyNTU7XHJlZDEyOFxncmVlbjBcYmx1ZTEy
	ODt9ClxwYXJkXHR4NTc3XHR4MTE1NVx0eDE3MzNcdHgyMzExXHR4Mjg4OVx0eDM0Njdc
	dHg0MDQ1XHR4NDYyM1x0eDUyMDFcdHg1Nzc5XHR4NjM1N1x0eDY5MzVcdHg3NTEzXHR4
	ODA5MVx0eDg2NjlcdHg5MjQ3XHR4OTgyNVx0eDEwNDAzXHR4MTA5ODFcdHgxMTU1OVx0
	eDEyMTM3XHR4MTI3MTVcdHgxMzI5M1x0eDEzODcxXHR4MTQ0NDlcdHgxNTAyN1x0eDE1
	NjA1XHR4MTYxODNcdHgxNjc2MVx0eDE3MzM5XHR4MTc5MTdcdHgxODQ5NVx0eDE5MDcy
	XHR4MTk2NTBcdHgyMDIyOFx0eDIwODA2XHR4MjEzODRcdHgyMTk2Mlx0eDIyNTQwXHR4
	MjMxMThcdHgyMzY5Nlx0eDI0Mjc0XHR4MjQ4NTJcdHgyNTQzMFx0eDI2MDA4XHR4MjY1
	ODZcdHgyNzE2NFx0eDI3NzQyXHR4MjgzMjBcdHgyODg5OFx0eDI5NDc2XHR4MzAwNTRc
	dHgzMDYzMlx0eDMxMjEwXHR4MzE3ODhcdHgzMjM2Nlx0eDMyOTQ0XHR4MzM1MjJcdHgz
	NDEwMFx0eDM0Njc4XHR4MzUyNTZcdHgzNTgzNFx0eDM2NDEyXHR4MzY5OTBcdHgzNzU2
	N1x0eDM4MTQ1XHR4Mzg3MjNcdHgzOTMwMVx0eDM5ODc5XHR4NDA0NTdcdHg0MTAzNVx0
	eDQxNjEzXHR4NDIxOTFcdHg0Mjc2OVx0eDQzMzQ3XHR4NDM5MjVcdHg0NDUwM1x0eDQ1
	MDgxXHR4NDU2NTlcdHg0NjIzN1x0eDQ2ODE1XHR4NDczOTNcdHg0Nzk3MVx0eDQ4NTQ5
	XHR4NDkxMjdcdHg0OTcwNVx0eDUwMjgzXHR4NTA4NjFcdHg1MTQzOVx0eDUyMDE3XHR4
	NTI1OTVcdHg1MzE3M1x0eDUzNzUxXHR4NTQzMjlcdHg1NDkwN1x0eDU1NDg1XHR4NTYw
	NjJcdHg1NjY0MFx0eDU3MjE4XHR4NTc3OTZcbGk1NzdcZmktNTc4CgpcZjBcZnMyNCBc
	Y2YyIFxDb2NvYUxpZ2F0dXJlMCAkSE9NRS9iaW4vcG9tb2Rvcm8tc3RvcH0=
	</data>
	<key>scriptEnd</key>
	<data>
	e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29jb2FydGYxNDA0XGNvY29hc3VicnRmNDYw
	CntcZm9udHRibFxmMFxmbmlsXGZjaGFyc2V0MCBNZW5sby1SZWd1bGFyO30Ke1xjb2xv
	cnRibDtccmVkMjU1XGdyZWVuMjU1XGJsdWUyNTU7XHJlZDEyOFxncmVlbjBcYmx1ZTEy
	ODt9ClxwYXJkXHR4NTc3XHR4MTE1NVx0eDE3MzNcdHgyMzExXHR4Mjg4OVx0eDM0Njdc
	dHg0MDQ1XHR4NDYyM1x0eDUyMDFcdHg1Nzc5XHR4NjM1N1x0eDY5MzVcdHg3NTEzXHR4
	ODA5MVx0eDg2NjlcdHg5MjQ3XHR4OTgyNVx0eDEwNDAzXHR4MTA5ODFcdHgxMTU1OVx0
	eDEyMTM3XHR4MTI3MTVcdHgxMzI5M1x0eDEzODcxXHR4MTQ0NDlcdHgxNTAyN1x0eDE1
	NjA1XHR4MTYxODNcdHgxNjc2MVx0eDE3MzM5XHR4MTc5MTdcdHgxODQ5NVx0eDE5MDcy
	XHR4MTk2NTBcdHgyMDIyOFx0eDIwODA2XHR4MjEzODRcdHgyMTk2Mlx0eDIyNTQwXHR4
	MjMxMThcdHgyMzY5Nlx0eDI0Mjc0XHR4MjQ4NTJcdHgyNTQzMFx0eDI2MDA4XHR4MjY1
	ODZcdHgyNzE2NFx0eDI3NzQyXHR4MjgzMjBcdHgyODg5OFx0eDI5NDc2XHR4MzAwNTRc
	dHgzMDYzMlx0eDMxMjEwXHR4MzE3ODhcdHgzMjM2Nlx0eDMyOTQ0XHR4MzM1MjJcdHgz
	NDEwMFx0eDM0Njc4XHR4MzUyNTZcdHgzNTgzNFx0eDM2NDEyXHR4MzY5OTBcdHgzNzU2
	N1x0eDM4MTQ1XHR4Mzg3MjNcdHgzOTMwMVx0eDM5ODc5XHR4NDA0NTdcdHg0MTAzNVx0
	eDQxNjEzXHR4NDIxOTFcdHg0Mjc2OVx0eDQzMzQ3XHR4NDM5MjVcdHg0NDUwM1x0eDQ1
	MDgxXHR4NDU2NTlcdHg0NjIzN1x0eDQ2ODE1XHR4NDczOTNcdHg0Nzk3MVx0eDQ4NTQ5
	XHR4NDkxMjdcdHg0OTcwNVx0eDUwMjgzXHR4NTA4NjFcdHg1MTQzOVx0eDUyMDE3XHR4
	NTI1OTVcdHg1MzE3M1x0eDUzNzUxXHR4NTQzMjlcdHg1NDkwN1x0eDU1NDg1XHR4NTYw
	NjJcdHg1NjY0MFx0eDU3MjE4XHR4NTc3OTZcbGk1NzdcZmktNTc4CgpcZjBcZnMyNCBc
	Y2YyIFxDb2NvYUxpZ2F0dXJlMCAkSE9NRS9iaW4vcG9tb2Rvcm8tc3RvcH0=
	</data>
	<key>scriptInterrupt</key>
	<data>
	e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29jb2FydGYxNDA0XGNvY29hc3VicnRmNDYw
	CntcZm9udHRibFxmMFxmbmlsXGZjaGFyc2V0MCBNZW5sby1SZWd1bGFyO30Ke1xjb2xv
	cnRibDtccmVkMjU1XGdyZWVuMjU1XGJsdWUyNTU7XHJlZDEyOFxncmVlbjBcYmx1ZTEy
	ODt9ClxwYXJkXHR4NTc3XHR4MTE1NVx0eDE3MzNcdHgyMzExXHR4Mjg4OVx0eDM0Njdc
	dHg0MDQ1XHR4NDYyM1x0eDUyMDFcdHg1Nzc5XHR4NjM1N1x0eDY5MzVcdHg3NTEzXHR4
	ODA5MVx0eDg2NjlcdHg5MjQ3XHR4OTgyNVx0eDEwNDAzXHR4MTA5ODFcdHgxMTU1OVx0
	eDEyMTM3XHR4MTI3MTVcdHgxMzI5M1x0eDEzODcxXHR4MTQ0NDlcdHgxNTAyN1x0eDE1
	NjA1XHR4MTYxODNcdHgxNjc2MVx0eDE3MzM5XHR4MTc5MTdcdHgxODQ5NVx0eDE5MDcy
	XHR4MTk2NTBcdHgyMDIyOFx0eDIwODA2XHR4MjEzODRcdHgyMTk2Mlx0eDIyNTQwXHR4
	MjMxMThcdHgyMzY5Nlx0eDI0Mjc0XHR4MjQ4NTJcdHgyNTQzMFx0eDI2MDA4XHR4MjY1
	ODZcdHgyNzE2NFx0eDI3NzQyXHR4MjgzMjBcdHgyODg5OFx0eDI5NDc2XHR4MzAwNTRc
	dHgzMDYzMlx0eDMxMjEwXHR4MzE3ODhcdHgzMjM2Nlx0eDMyOTQ0XHR4MzM1MjJcdHgz
	NDEwMFx0eDM0Njc4XHR4MzUyNTZcdHgzNTgzNFx0eDM2NDEyXHR4MzY5OTBcdHgzNzU2
	N1x0eDM4MTQ1XHR4Mzg3MjNcdHgzOTMwMVx0eDM5ODc5XHR4NDA0NTdcdHg0MTAzNVx0
	eDQxNjEzXHR4NDIxOTFcdHg0Mjc2OVx0eDQzMzQ3XHR4NDM5MjVcdHg0NDUwM1x0eDQ1
	MDgxXHR4NDU2NTlcdHg0NjIzN1x0eDQ2ODE1XHR4NDczOTNcdHg0Nzk3MVx0eDQ4NTQ5
	XHR4NDkxMjdcdHg0OTcwNVx0eDUwMjgzXHR4NTA4NjFcdHg1MTQzOVx0eDUyMDE3XHR4
	NTI1OTVcdHg1MzE3M1x0eDUzNzUxXHR4NTQzMjlcdHg1NDkwN1x0eDU1NDg1XHR4NTYw
	NjJcdHg1NjY0MFx0eDU3MjE4XHR4NTc3OTZcbGk1NzdcZmktNTc4CgpcZjBcZnMyNCBc
	Y2YyIFxDb2NvYUxpZ2F0dXJlMCAkSE9NRS9iaW4vcG9tb2Rvcm8tc3RvcH0=
	</data>
	<key>scriptInterruptOver</key>
	<data>
	e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29jb2FydGYxNDA0XGNvY29hc3VicnRmNDYw
	CntcZm9udHRibFxmMFxmbmlsXGZjaGFyc2V0MCBNZW5sby1SZWd1bGFyO30Ke1xjb2xv
	cnRibDtccmVkMjU1XGdyZWVuMjU1XGJsdWUyNTU7XHJlZDEyOFxncmVlbjBcYmx1ZTEy
	ODt9ClxwYXJkXHR4NTc3XHR4MTE1NVx0eDE3MzNcdHgyMzExXHR4Mjg4OVx0eDM0Njdc
	dHg0MDQ1XHR4NDYyM1x0eDUyMDFcdHg1Nzc5XHR4NjM1N1x0eDY5MzVcdHg3NTEzXHR4
	ODA5MVx0eDg2NjlcdHg5MjQ3XHR4OTgyNVx0eDEwNDAzXHR4MTA5ODFcdHgxMTU1OVx0
	eDEyMTM3XHR4MTI3MTVcdHgxMzI5M1x0eDEzODcxXHR4MTQ0NDlcdHgxNTAyN1x0eDE1
	NjA1XHR4MTYxODNcdHgxNjc2MVx0eDE3MzM5XHR4MTc5MTdcdHgxODQ5NVx0eDE5MDcy
	XHR4MTk2NTBcdHgyMDIyOFx0eDIwODA2XHR4MjEzODRcdHgyMTk2Mlx0eDIyNTQwXHR4
	MjMxMThcdHgyMzY5Nlx0eDI0Mjc0XHR4MjQ4NTJcdHgyNTQzMFx0eDI2MDA4XHR4MjY1
	ODZcdHgyNzE2NFx0eDI3NzQyXHR4MjgzMjBcdHgyODg5OFx0eDI5NDc2XHR4MzAwNTRc
	dHgzMDYzMlx0eDMxMjEwXHR4MzE3ODhcdHgzMjM2Nlx0eDMyOTQ0XHR4MzM1MjJcdHgz
	NDEwMFx0eDM0Njc4XHR4MzUyNTZcdHgzNTgzNFx0eDM2NDEyXHR4MzY5OTBcdHgzNzU2
	N1x0eDM4MTQ1XHR4Mzg3MjNcdHgzOTMwMVx0eDM5ODc5XHR4NDA0NTdcdHg0MTAzNVx0
	eDQxNjEzXHR4NDIxOTFcdHg0Mjc2OVx0eDQzMzQ3XHR4NDM5MjVcdHg0NDUwM1x0eDQ1
	MDgxXHR4NDU2NTlcdHg0NjIzN1x0eDQ2ODE1XHR4NDczOTNcdHg0Nzk3MVx0eDQ4NTQ5
	XHR4NDkxMjdcdHg0OTcwNVx0eDUwMjgzXHR4NTA4NjFcdHg1MTQzOVx0eDUyMDE3XHR4
	NTI1OTVcdHg1MzE3M1x0eDUzNzUxXHR4NTQzMjlcdHg1NDkwN1x0eDU1NDg1XHR4NTYw
	NjJcdHg1NjY0MFx0eDU3MjE4XHR4NTc3OTZcbGk1NzdcZmktNTc4CgpcZjBcZnMyNCBc
	Y2YyIFxDb2NvYUxpZ2F0dXJlMCAkSE9NRS9iaW4vcG9tb2Rvcm8tc3RvcH0=
	</data>
	<key>scriptReset</key>
	<data>
	e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29jb2FydGYxNDA0XGNvY29hc3VicnRmNDYw
	CntcZm9udHRibFxmMFxmbmlsXGZjaGFyc2V0MCBNZW5sby1SZWd1bGFyO30Ke1xjb2xv
	cnRibDtccmVkMjU1XGdyZWVuMjU1XGJsdWUyNTU7XHJlZDEyOFxncmVlbjBcYmx1ZTEy
	ODt9ClxwYXJkXHR4NTc3XHR4MTE1NVx0eDE3MzNcdHgyMzExXHR4Mjg4OVx0eDM0Njdc
	dHg0MDQ1XHR4NDYyM1x0eDUyMDFcdHg1Nzc5XHR4NjM1N1x0eDY5MzVcdHg3NTEzXHR4
	ODA5MVx0eDg2NjlcdHg5MjQ3XHR4OTgyNVx0eDEwNDAzXHR4MTA5ODFcdHgxMTU1OVx0
	eDEyMTM3XHR4MTI3MTVcdHgxMzI5M1x0eDEzODcxXHR4MTQ0NDlcdHgxNTAyN1x0eDE1
	NjA1XHR4MTYxODNcdHgxNjc2MVx0eDE3MzM5XHR4MTc5MTdcdHgxODQ5NVx0eDE5MDcy
	XHR4MTk2NTBcdHgyMDIyOFx0eDIwODA2XHR4MjEzODRcdHgyMTk2Mlx0eDIyNTQwXHR4
	MjMxMThcdHgyMzY5Nlx0eDI0Mjc0XHR4MjQ4NTJcdHgyNTQzMFx0eDI2MDA4XHR4MjY1
	ODZcdHgyNzE2NFx0eDI3NzQyXHR4MjgzMjBcdHgyODg5OFx0eDI5NDc2XHR4MzAwNTRc
	dHgzMDYzMlx0eDMxMjEwXHR4MzE3ODhcdHgzMjM2Nlx0eDMyOTQ0XHR4MzM1MjJcdHgz
	NDEwMFx0eDM0Njc4XHR4MzUyNTZcdHgzNTgzNFx0eDM2NDEyXHR4MzY5OTBcdHgzNzU2
	N1x0eDM4MTQ1XHR4Mzg3MjNcdHgzOTMwMVx0eDM5ODc5XHR4NDA0NTdcdHg0MTAzNVx0
	eDQxNjEzXHR4NDIxOTFcdHg0Mjc2OVx0eDQzMzQ3XHR4NDM5MjVcdHg0NDUwM1x0eDQ1
	MDgxXHR4NDU2NTlcdHg0NjIzN1x0eDQ2ODE1XHR4NDczOTNcdHg0Nzk3MVx0eDQ4NTQ5
	XHR4NDkxMjdcdHg0OTcwNVx0eDUwMjgzXHR4NTA4NjFcdHg1MTQzOVx0eDUyMDE3XHR4
	NTI1OTVcdHg1MzE3M1x0eDUzNzUxXHR4NTQzMjlcdHg1NDkwN1x0eDU1NDg1XHR4NTYw
	NjJcdHg1NjY0MFx0eDU3MjE4XHR4NTc3OTZcbGk1NzdcZmktNTc4CgpcZjBcZnMyNCBc
	Y2YyIFxDb2NvYUxpZ2F0dXJlMCAkSE9NRS9iaW4vcG9tb2Rvcm8tc3RvcH0=
	</data>
	<key>scriptResume</key>
	<data>
	e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29jb2FydGYxNDA0XGNvY29hc3VicnRmNDYw
	CntcZm9udHRibFxmMFxmbmlsXGZjaGFyc2V0MCBNZW5sby1SZWd1bGFyO30Ke1xjb2xv
	cnRibDtccmVkMjU1XGdyZWVuMjU1XGJsdWUyNTU7XHJlZDEyOFxncmVlbjBcYmx1ZTEy
	ODt9ClxwYXJkXHR4NTc3XHR4MTE1NVx0eDE3MzNcdHgyMzExXHR4Mjg4OVx0eDM0Njdc
	dHg0MDQ1XHR4NDYyM1x0eDUyMDFcdHg1Nzc5XHR4NjM1N1x0eDY5MzVcdHg3NTEzXHR4
	ODA5MVx0eDg2NjlcdHg5MjQ3XHR4OTgyNVx0eDEwNDAzXHR4MTA5ODFcdHgxMTU1OVx0
	eDEyMTM3XHR4MTI3MTVcdHgxMzI5M1x0eDEzODcxXHR4MTQ0NDlcdHgxNTAyN1x0eDE1
	NjA1XHR4MTYxODNcdHgxNjc2MVx0eDE3MzM5XHR4MTc5MTdcdHgxODQ5NVx0eDE5MDcy
	XHR4MTk2NTBcdHgyMDIyOFx0eDIwODA2XHR4MjEzODRcdHgyMTk2Mlx0eDIyNTQwXHR4
	MjMxMThcdHgyMzY5Nlx0eDI0Mjc0XHR4MjQ4NTJcdHgyNTQzMFx0eDI2MDA4XHR4MjY1
	ODZcdHgyNzE2NFx0eDI3NzQyXHR4MjgzMjBcdHgyODg5OFx0eDI5NDc2XHR4MzAwNTRc
	dHgzMDYzMlx0eDMxMjEwXHR4MzE3ODhcdHgzMjM2Nlx0eDMyOTQ0XHR4MzM1MjJcdHgz
	NDEwMFx0eDM0Njc4XHR4MzUyNTZcdHgzNTgzNFx0eDM2NDEyXHR4MzY5OTBcdHgzNzU2
	N1x0eDM4MTQ1XHR4Mzg3MjNcdHgzOTMwMVx0eDM5ODc5XHR4NDA0NTdcdHg0MTAzNVx0
	eDQxNjEzXHR4NDIxOTFcdHg0Mjc2OVx0eDQzMzQ3XHR4NDM5MjVcdHg0NDUwM1x0eDQ1
	MDgxXHR4NDU2NTlcdHg0NjIzN1x0eDQ2ODE1XHR4NDczOTNcdHg0Nzk3MVx0eDQ4NTQ5
	XHR4NDkxMjdcdHg0OTcwNVx0eDUwMjgzXHR4NTA4NjFcdHg1MTQzOVx0eDUyMDE3XHR4
	NTI1OTVcdHg1MzE3M1x0eDUzNzUxXHR4NTQzMjlcdHg1NDkwN1x0eDU1NDg1XHR4NTYw
	NjJcdHg1NjY0MFx0eDU3MjE4XHR4NTc3OTZcbGk1NzdcZmktNTc4CgpcZjBcZnMyNCBc
	Y2YyIFxDb2NvYUxpZ2F0dXJlMCAkSE9NRS9iaW4vcG9tb2Rvcm8tc3RhcnR9
	</data>
	<key>scriptStart</key>
	<data>
	e1xydGYxXGFuc2lcYW5zaWNwZzEyNTJcY29jb2FydGYxNDA0XGNvY29hc3VicnRmNDYw
	CntcZm9udHRibFxmMFxmbmlsXGZjaGFyc2V0MCBNZW5sby1SZWd1bGFyO30Ke1xjb2xv
	cnRibDtccmVkMjU1XGdyZWVuMjU1XGJsdWUyNTU7XHJlZDEyOFxncmVlbjBcYmx1ZTEy
	ODt9ClxwYXJkXHR4NTc3XHR4MTE1NVx0eDE3MzNcdHgyMzExXHR4Mjg4OVx0eDM0Njdc
	dHg0MDQ1XHR4NDYyM1x0eDUyMDFcdHg1Nzc5XHR4NjM1N1x0eDY5MzVcdHg3NTEzXHR4
	ODA5MVx0eDg2NjlcdHg5MjQ3XHR4OTgyNVx0eDEwNDAzXHR4MTA5ODFcdHgxMTU1OVx0
	eDEyMTM3XHR4MTI3MTVcdHgxMzI5M1x0eDEzODcxXHR4MTQ0NDlcdHgxNTAyN1x0eDE1
	NjA1XHR4MTYxODNcdHgxNjc2MVx0eDE3MzM5XHR4MTc5MTdcdHgxODQ5NVx0eDE5MDcy
	XHR4MTk2NTBcdHgyMDIyOFx0eDIwODA2XHR4MjEzODRcdHgyMTk2Mlx0eDIyNTQwXHR4
	MjMxMThcdHgyMzY5Nlx0eDI0Mjc0XHR4MjQ4NTJcdHgyNTQzMFx0eDI2MDA4XHR4MjY1
	ODZcdHgyNzE2NFx0eDI3NzQyXHR4MjgzMjBcdHgyODg5OFx0eDI5NDc2XHR4MzAwNTRc
	dHgzMDYzMlx0eDMxMjEwXHR4MzE3ODhcdHgzMjM2Nlx0eDMyOTQ0XHR4MzM1MjJcdHgz
	NDEwMFx0eDM0Njc4XHR4MzUyNTZcdHgzNTgzNFx0eDM2NDEyXHR4MzY5OTBcdHgzNzU2
	N1x0eDM4MTQ1XHR4Mzg3MjNcdHgzOTMwMVx0eDM5ODc5XHR4NDA0NTdcdHg0MTAzNVx0
	eDQxNjEzXHR4NDIxOTFcdHg0Mjc2OVx0eDQzMzQ3XHR4NDM5MjVcdHg0NDUwM1x0eDQ1
	MDgxXHR4NDU2NTlcdHg0NjIzN1x0eDQ2ODE1XHR4NDczOTNcdHg0Nzk3MVx0eDQ4NTQ5
	XHR4NDkxMjdcdHg0OTcwNVx0eDUwMjgzXHR4NTA4NjFcdHg1MTQzOVx0eDUyMDE3XHR4
	NTI1OTVcdHg1MzE3M1x0eDUzNzUxXHR4NTQzMjlcdHg1NDkwN1x0eDU1NDg1XHR4NTYw
	NjJcdHg1NjY0MFx0eDU3MjE4XHR4NTc3OTZcbGk1NzdcZmktNTc4CgpcZjBcZnMyNCBc
	Y2YyIFxDb2NvYUxpZ2F0dXJlMCAkSE9NRS9iaW4vcG9tb2Rvcm8tc3RhcnR9
	</data>
	<key>showSplashScreenAtStartup</key>
	<false/>
	<key>startCode</key>
	<integer>126</integer>
	<key>startFlags</key>
	<integer>10223616</integer>
	<key>tickAtBreakEnabled</key>
	<false/>
	<key>tickEnabled</key>
	<false/>
</dict>
</plist>
